
@{ Layout = null; }
@using System.Linq
@model IEnumerable<Patterns.Models.Usuario>

<h2>Lista de Usuários</h2>
<a asp-action="Create" class="btn btn-success">Adicionar Novo</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
